* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mb-2 {
    margin-bottom: 26px;
}

.text-grey {
    color: #777777;
}

.header {
    background-color: #f2f2f3;
}

.top-header {
    height: 8px;
    background-color: #b12d2b;
}

.container {
    padding: 44px 0;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.bottom-header {
    height: 56px;
    background-color: #2d4a7a;
}

.headline {
    padding: 18px 0px;
    background-color: #eaeaea;
    color: #2d4a7a;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.about-container {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 20px;
    background-color: #f4f4f4;
}

.about-title {
    text-transform: uppercase;
    font-size: 16px;
    color: #2d4a7a;
    font-weight: bold;
    margin-bottom: 20px;
}

.title-blue {
    color: #2d4a7a;
}

.title-red {
    color: #b12d2b;
}

.title-grey {
    color: #777;
}

ul, ol {
    padding-left: 20px;
    color: #2d4a7a;
}

.item-text {
    margin-bottom: 18px;
}

.link {
    color: #2d4a7a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.footer {
    background-color: #2d4a7a;
    height: 100px;
}